@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

:root{
    color:#8B909D;
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    max-width: 1920px;
    margin: 0 auto;
   
    background-size: cover;
    background-position: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    padding: 0 0 50px 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(209,217,235,1) 0%, rgba(224,229,241,1) 25%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%); /* ff3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(209,217,235,1)), color-stop(25%, rgba(224,229,241,1)), color-stop(76%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
background:-webkit-radial-gradient(center, ellipse cover, rgba(209,217,235,1) 0%, rgba(224,229,241,1) 25%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
background: -o-radial-gradient(center, ellipse cover, rgba(209,217,235,1) 0%, rgba(224,229,241,1) 25%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(209,217,235,1) 0%, rgba(224,229,241,1) 25%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%); /* ie10+ */
background:radial-gradient(ellipse at center, rgba(209,217,235,1) 0%, rgba(224,229,241,1) 25%, rgba(255,255,255,1) 76%, rgba(255,255,255,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#D1D9EB', endColorstr='#FFFFFF',GradientType=1 ); /* ie6-9 */
}

.grid {
    margin-top:50px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: minmax(200px, 290px) minmax(200px, 290px) minmax(200px, 290px);
    grid-template-rows: minmax(420px, 420px) minmax(420px, 420px);
    justify-content: center;
    grid-row-gap: 25px;
    background: transparent;
    
}

.grid-item {
    position: relative;
    height: 410px;
    opacity: 0.92;
    -webkit-box-shadow: 0px 4px 23px -8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 4px 23px -8px rgba(0, 0, 0, 1);
    box-shadow: 0px 4px 23px -8px rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 0.856);
    transition: all .6s ease-in-out;
    border-radius: 10px 10px 2px 2px;
    
}

.grid-item:hover {
    opacity: 1;
    cursor: pointer;
}

.title {
    color: #151B28;
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px;
}

.author {
    text-align: center;
    font-size: 10px;
    color: rgba(21, 27, 40, 0.726);
}

.grid img {
    height: 250px;
    width: 290px;
    opacity: 1;
    position: relative;
    transition: all .5s ease-in-out;
}

.figure-wrap {
    height: 250px;
    width: 290px;
    opacity: 1;
    transform: scale(0.96);
    position: relative;
    transition: all .5s ease-in-out;
    overflow: hidden;
}

.grid-item:hover img {
    transform: scale(1.1) rotate(2deg);
}

.btn {
    width: 100px;
    height: 30px;
    background: white;
    border-radius: 20px;
    position: absolute;
    bottom: 20px;
    right: 100px;
    border: 1px solid #caa37f;
    cursor: pointer;
    transition: all 0.6s ease;
}

.btn:hover {
    background: #c99d74;
    border: 1px solid rgb(255, 255, 255);
    transform: scale(1.05);
}

.btn:hover a {
    color: rgb(255, 255, 255);
}

.btn a {
    color: #caa37f;
    text-decoration: none;
}

.btn2 {
    width: 80px;
    height: 30px;
    color: rgb(44, 44, 44);
    background: white;
    border: none;
    border-radius: 0 20px 20px 0;
    border: 1px solid #caa37f;
    cursor: pointer;
}

input {
    height: 26px;
    border: 1px solid #caa37f;
    border-right: 0px;
    border-top: 0px;
    border-left: 0px;
    padding-left: 15px;
}

.btn3 {
    width: 110px;
    height: 40px;
    background: white;
    border-radius: 20px;
    border: 1px solid #caa37f;
    cursor: pointer;
    margin-top: 10px;
}

.btn3 a {
    color: #caa37f;
    text-decoration: none;
}

.link {
    font-size: 12px;
}

.wrap-nav {
    max-width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
}

.navbar {
    display: grid;
    width: 100%;
    grid-template-columns: minmax(80px, 450px) minmax(100px, 450px);
    grid-template-rows: 70px;
    font-size: 14px;
    color:#151B28;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

ul {
    margin: 0;
    padding: 0;
}

.nav,
.item {
    margin: 5px 5px;
    list-style-type: none;
    font-size:12px;
    font-weight: 400;
    color:rgba(21, 27, 40, 0.747);
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo h2 {
    padding-left: 7px;
}

#header {
    background: url('/Gratia.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin: 50px auto;
    height: 200px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size:12px;
    flex-direction: column;
    color:var(--color);

}
#header h1{
    font-size:46px;
    color:#151B28;
}
.footer{
    padding: 150px 0 10px 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    color:rgba(139, 144, 157, 0.623)
}
.footer-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top:1px solid rgba(0, 0, 0, 0.123);
    position: relative;

}
.round{
    height: 120px;
    width:120px;
    border-radius:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid rgba(0, 0, 0, 0.137);
    position: absolute;
    top:-60px;
}
.footer-wrap h3{
    padding-top: 70px;
    color:#151B28;
}



.recipe-container{
    height: 100%;
 
display:flex;
flex-direction: column;

align-items: center;




}
.card{
    background:white;
    display:grid;
    color:#151B28;
    margin: 0 20px;
    
    grid-template-columns: minmax(300px, 700px) minmax(300px, 700px);
    grid-template-rows: 1fr;
    grid-gap:30px;
    -webkit-box-shadow: 0px 0px 172px -1px rgba(139,144,157,0.62);
-moz-box-shadow: 0px 0px 172px -1px rgba(139,144,157,0.62);
box-shadow: 0px 0px 172px -1px rgba(139,144,157,0.62);

}

.head{
    padding:5px 0 30px 0;
    margin-right: 100px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
}
.figure img{
   height: auto;
   width:100%; 
    
}
.head a {
    font-size:12px;
    color: rgba(139, 144, 157, 0.945);
}
.figure-caption{
    padding-left:50px;
    padding-top:50px;
    box-sizing: border-box;
    height: 100%;
    width:100%;
    tword-wrap: break-word;
    
}

@media(max-width:1024px) {
    .grid {
        padding-top: 50px;
        display: grid;
        grid-gap: 25px;
        grid-template-columns: minmax(200px, 290px) minmax(200px, 290px);
        grid-template-rows: 420px 420px 420px;
        justify-content: center;
        grid-row-gap: 20px;
        padding-bottom: 50px;
    }
    .card{
        margin: 0 10px;
        
        grid-template-columns: minmax(300px, 700px);
        grid-template-rows: 1fr 1fr;
        grid-gap:10px;
        -webkit-box-shadow: 0px 0px 172px -1px rgba(139,144,157,0.62);
    -moz-box-shadow: 0px 0px 172px -1px rgba(139,144,157,0.62);
    box-shadow: 0px 0px 172px -1px rgba(139,144,157,0.62);
    
    }
}

@media(max-width:648px) {
    .grid {
        padding-top: 50px;
        display: grid;
        padding-bottom: 50px;
        grid-gap: 15px;
        grid-template-columns: minmax(200px, 290px);
        grid-template-rows: minmax(340px 420px) minmax(340px 420px) minmax(340px 420px) minmax(340px 420px) minmax(340px 420px);
        justify-content: center;
        grid-row-gap: 10px;
    }
    #header {
        height: 140px;
        width: 300px;
        font-size:0.8em;
        margin: 50px auto 70px auto;
    }
    .card{
        margin: 15px;
        grid-template-columns: minmax(300px, 700px);
        grid-template-rows: 1fr 400px;
        grid-gap:10px;
        -webkit-box-shadow: 0px 0px 172px -1px rgba(139,144,157,0.62);
    -moz-box-shadow: 0px 0px 172px -1px rgba(139,144,157,0.62);
    box-shadow: 0px 0px 172px -1px rgba(139,144,157,0.62);
    
    }
}